@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;0,700;1,400&display=swap');

$font: 'Titillium Web', sans-serif;

/*Colores*/
$black: #000000;
$white: #ffffff;
$morado: #63459B;
$verde: #1AB140;